body{

    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #afdaee; background:  #afdaee ;
    font-size: 1em; line-height: 1.5em;
}
h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
    color: rgb(14, 5, 7);

}
p {
    margin: 0 0 1.5em 0;
}
img {
    
        max-width: 70%;
        height: auto;
}
img{

        max-width: 70%;
        height: auto;
    
}
img{

        max-width: 70%;
        height: auto;
    
}

.espaciado {
    margin-bottom: 100px; /* Ajusta el valor según la cantidad de espacio deseada */
}

p{
    text-align: center;
    color: #333;
}

#main-header {
    background: #111111;
    color: white;
    height: 80px;
}

#main-header a {
    color: rgb(240, 237, 237);
}
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

#logo-header:hover {
    color: #0b76a6;
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}


#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}

.text-center {
    text-align: center;
}


nav { float: right;}

nav ul{margin: 0; padding: 0;list-style: none; padding-right: 20px;}
nav ul li {display: inline-block; line-height: 80px;}
nav ul li a{display: block;padding: 0 10px; text-decoration: none;}
nav ul li a:hover{ background: #0b76a6;}

#main-content{
    background: rgb(190, 42, 42);
    width: 90%;max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);}

    #main-content header, #main-content.content{
        padding: 40px;
    }

  #main-footer{
    background: #333;
    color: rgb(165, 18, 202);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
  }
  #main-footer p {
    margin: 0;
    } 
#main-footer a {
    color:rgb(211, 42, 202);
     }
#titulo2 {
    background: white;
    padding: 30%;
    color: white;

}